<link rel="stylesheet" type="text/css" href="/public/css/contact.css">
<div class="fullpage vertical-align">
    <div class="block">
        <form action="sendForm()">
            <div class="form-group">
                <input type="text" name="fullname" placeholder="Full name" required>
            </div>
            <div class="form-group">
                <input type="email" name="email" placeholder="Email" required>
            </div>
            <div class="form-group">
                <textarea name="message" placeholder="Message"></textarea>
            </div>
            <div class="form-group">
                <button type="submit">Send message</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="/public/js/contact.js"></script>
