<div class="fullpage vertical-align">
    <div class="block">
        <form name="contactform">
            <div class="form-group">
                <input type="text" name="fullname" placeholder="Full name" required>
            </div>
            <div class="form-group">
                <input type="email" name="email" placeholder="Email" required>
            </div>
            <div class="form-group">
                <textarea name="message" placeholder="Message"></textarea>
            </div>
            <div class="form-group">
                <button type="submit">Send message</button>
            </div>
        </form>
    </div>
</div>
