<div class="fullpage home-page vertical-align">
    <div class="block">
        <h1 class="fullname">Yoann Picquenot</h1>
        <h5 class="jobname">Front-end Developper, Lyon, France</h5>
        <p>
            I am a fourth year student at <a class="link" href="http://www.epitech.eu/">Epitech</a>.
        </p>
        <p>
            The web is <b>always evolving</b> and present in our quotidian.
            This is what makes it so interresting to me. I am a little bit of an artist and I like doing front-end, but I can do back-end as well.
        </p>
        <p>
            My hobbies include sports and music. I love to play basketball and hockey. I am also a pianist (and somewhat of a guitar player...).
        </p>
    </div>
</div>
