<div class="fullpage home-page vertical-align">
    <div class="block">
        <h1 class="fullname">Yoann Picquenot</h1>
        <h5 class="jobname">Front-end Developper, Lyon, France</h5>
        <p>
            I am a 4th years student at <a class="link" href="http://www.epitech.eu/">Epitech</a>.
        </p>
        <p>
            The web <b>don't stop evolving</b> and it is present in our very quotidian.
            That's make it so interresting. Also, I am a little bit an artist, and I like doing front-end.
            But I can do back-end as well.
        </p>
        <p>
            Sports and music are my hobbies. I love playing basket ball and hockey. I am a pianist (also guitar player but it's nothing...).
        </p>
    </div>
</div>
